<!DOCTYPE html>
<html>
<head>
  <title>ANSIBLE AUTOMATION PLATFORM </title>
<style>
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 2s;
  animation-name: animatebottom;
  animation-duration: 2s
}
@-webkit-keyframes animatebottom {
  from { bottom:-50px; opacity:0 }
  to { bottom:0px; opacity:1 }
}
@keyframes animatebottom {
  from{ bottom:-50px; opacity:0 }
  to{ bottom:0; opacity:1 }
}
</style>
</head>
<body>

<button onclick="animateFunction()">Connect to DB</button>
<div style="display:none;" id="myDiv" class="animate-bottom">
<span>    <?php
     $dbhost = 'localhost:3306';
     $dbuser = 'lampuser';
     $dbpass = 'changeme';
     $conn = mysql_connect($dbhost, $dbuser, $dbpass);

     if(! $conn ) {
        die('Could not connect: ' . mysql_error());
      }

      echo '<h2>Welcome to LAMP WORKFLOW DEMO</h2> <br/> Web Tier is successfully connected DB Tier  <br/><br/> List of available Databases is : <br/> - ';
      $set = mysql_query('SHOW DATABASES;');
      $dbs = array();
      while($db = mysql_fetch_row($set))
         $dbs[] = $db[0];
         echo implode('<br/> - ', $dbs);
      mysql_close($conn);
      ?></span>
</div>
<script>
function animateFunction() {
  document.getElementById("myDiv").style.display = "block";
}
</script>
</body>
</html>

